body{
    margin: 0%;
}
.banner{
    background-image: url(images/bg.png);
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 55px;
}
.downside{
    font-size: 45px;
}
.h1-tag{
    margin-bottom:0;
    margin-top: 0%;
}
span{
    color: #127462;
}
.wo3-section{
    display: flex;
    padding-left: 45px;
}
.section{
    margin-top: 60px;
}
.paragraph{
    font-family:'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: justify;
}
h2{
    font-family:'Lato', sans-serif;
    font-size: 25px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
}
#image{
    padding-left: 100px
}

#a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 5px;
    font-family: 'Lobster Two', cursive;
}
#have-faith{
    background-image: url(images/gear@4x.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    
}
.hire-button{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    background-image:linear-gradient(#0f2027, #127462);
    padding: 7px 11px;
    border-radius: 7px
}
#section-3{
    margin-left: 45px;
}
#full-stack{
    width: 40%;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-image: linear-gradient( #0f2027, #127462);
    border-radius: 10px;
    border-image-slice: 1;
    padding: 20px;    
}
#baby{
    width: 40%;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-image: linear-gradient(#2a2a78, #1f668a);
    border-radius: 10px;
    border-image-slice: 1;
    padding: 20px;
}
#head {
    color: #127462;
}
#head-2{
    color: #1f668a;
}
.xp-panels{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 5px 5px 10px 5px #9d9d9d;
}

footer p{
    text-align: center;
}